{% extends 'base.html' %}
{% load static %}

{% block content %}
          <div class="about">
         <div class="container_width">
            <div class="row d_flex">
                {% for service in locations %}
                   <div class="col-md-7">
                  <div class="titlepage text_align_left">
                     <h2>{{ service.city }}</h2>
                     <ul class="my_list_location">
                            <li class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                {{ service.address }}
                            </li>
                            <li class="location"><i class="fa fa-phone" aria-hidden="true"></i>
                                Call:  +{{ service.phone_number }}
                            </li>
                            <li class="location"><i class="fa fa-envelope" aria-hidden="true"></i>
                                Email:  {{ service.email}}
                            </li>
                        </ul>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="about_img text_align_center">
                     <figure><img class="service_image" src="{{ service.image_url }}" alt="#"/></figure>
                  </div>
               </div>
                {% endfor %}
            </div>
         </div>
       </div>
{% endblock %}