{% extends 'base.html' %}

{% block content %}
      <div class="cases">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center ">
                     <h2>Register</h2>
                  </div>
               </div>
            </div>

                     <div class="login-box"></div>
                     <div class="login">
                        <form action="{% url 'profile register' %}" method="post">
                            {% csrf_token %}
                              {% for field in form %}
                              <div class="form-field">
                                    {{ field.label_tag }}
                              {% if field.errors %}
                                  <div class="error-message">
                                      {% for error in field.errors %}
                                          {{ error }}
                                      {% endfor %}
                                  </div>
                              {% endif %}
                              {{ field }}

                                </div>
                            {% endfor %}


                        <input type="hidden" name="next" value="{{ next }}">
                         <button type="submit" class="car_details">Register</button>

                        </form>
                     </div>

                          <div class="row r_flex">
               <div class=" col-md-4">
                  <div class="latest text_align_center">
                      <form action="">
                     <div class="my_nostrodus">
                         <h3 class="no-profile">You have an account?</h3>
                         <button class="car_details"><a class="register-button" href="{% url 'profile login' %}">Login</a></button>
                     </div>
                      </form>
                  </div>
               </div>
            </div>

         </div>
      </div>
{% endblock %}
