{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'common/head.html' %}

<!-- body -->
<body>

    {% include 'common/loader.html' %}
    {% include 'common/header.html' %}

    {% block content %}
    {% endblock %}

    {% include 'common/footer.html' %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
