{% extends 'base.html' %}

      {% block content %}

      <div class="coronata">
         <div class="container">
             <div class="gallery_div">
             <h1 class="gallery_zaglavie">Gallery</h1>
             <h2 class="gallery_heading">Welcome to our gallery. Enjoy the precious vintage cars!</h2></div>
            <div class="row r_flex grid">
                {% for photo in gallery %}
               <div class="col-md-5 oder1">
                  <div class="titlepage text_align_left">
                     <figure><img class="gallery_image" src="{{ photo.image_url }}" alt="#"/></figure>
                  </div>
               </div>
                {% endfor %}
            </div>
         </div>
      </div>

      {% endblock %}
