{% extends 'base.html' %}
{% load static %}

{% block content %}
     <div class="contact">
         <div class="container">
            <div class="row">
                <div class="col-md-12">
                     <div class="titlepage text_align_left">
                        <h2>Contact Us</h2>
                     </div>
                  </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <form id="request" class="main_form" method="post" action="{% url 'contact page' %}">
                      {% csrf_token %}
                     <div class="row">
                        <div class="col-md-12">
                            {{ form.full_name.errors }}
                           {{ form.full_name }}
                        </div>
                        <div class="col-md-12">
                            {{ form.phone_number.errors }}
                           {{ form.phone_number }}
                        </div>
                        <div class="col-md-12">
                            {{ form.email.errors }}
                           {{ form.email }}
                        </div>
                        <div class="col-md-12">
                            {{ form.message.errors }}
                           {{ form.message }}
                        </div>
                        <div class="col-md-12">
                           <button type="submit" class="send_btn">Send Now</button>
                        </div>
                     </div>
                  </form>
               </div>
                <div class="col-md-6">
                  <div class="map-responsive">
                      <i><img src="{% static '/images/78928E72-5AFB-9620-70BF-7AB0275C0F7F.jpg' %}" alt="#"/></i>
                  </div>
               </div>
            </div>

         </div>
      </div>
{% endblock %}
